button{
    background-color: #1646A0;
    color: #FFFF;
    padding: 0 45px;
    border-radius: 25px;
    border: 2px solid #FFF;
    height: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .2s;
    outline: none;

        &:hover{
            background-color: #0923af;
        }

        &:active{
            transform: scale(0.97);
        }
}