table {
  width: 100%;
  text-align: center;
  border: 1px solid blue;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
}

table tr {
  line-height: 40px;
  background-color: #2b2c2b96;
  border-radius: 24px;
}

td {
  border-radius: 24px;
}

table td:hover {
  background-color: red;
  cursor: pointer;
}

table th {
  color: #5a1699;
  border-radius: 24px;
}

.produto:hover {
  background-color: darkgreen;
  transform: scale(1rem);
}
