*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    border: 1px solid black;
}

main{
    border: 1px solid black;
    width: 100vw;
    height: 200vh;
    margin-top: 10vh;
    text-align: center;
}

button{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

button:active{
    color: red;
    background-color: pink;
}



footer{
    border: 1px solid black;
    position: relative;
    height: 10vh;
    bottom: 0;
}