@import '../../modulo_scss/variables/colorPaint';
.Burguer{
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    right: 5%;
    transition-duration: 400ms;
    visibility: hidden;
    opacity: 0;

        span{
            width: 100%;
            height: 3px;
            background-color: $Ultra-Gray;
            border-radius: 8px;
        }

}

@media only screen and (max-device-width: 480px){
    .Burguer{
        visibility: visible;
        opacity: 1;

            &.active{
                transition-duration: 600ms;
                transform: rotate(180deg);
                span{
                    transition-duration: 1s;
                    background-color: $Almost-Gray;
                }
            }
    }
}