@import '../../modulo_scss/variables/colorPaint';

.Logo{
    width: 10rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    transition-duration: 600ms;

    h2{
        font-size: 1.2rem;
        color: $Primary-color;
    }

    img{
        width: 50%;
        height: 50%;
    }
}

@media only screen and (max-device-width: 480px) {
    .Logo{
        width: 10rem;
        height: 100%;

            h2{
                font-size: 1rem;
            }

            img{
                width: 60%;
                height: 60%;
            }
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px){
    .Logo{
        height: 100%;

            h2{
                font-size: 1.2rem;
            }

            img{
                width: 50%;
                height: 50%;
            }
    }
}